*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-image: url(./image/fundo1.png);
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif; 
    box-sizing: border-box;     
      
}
.geral{
    width: 1140px;
    height: 100vh;
    margin: auto;
    display: flex;
}
.lado-direito{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: inherit;
    height: inherit;  
    margin-left: 16px; 
}
.lado-direito .barra{
    display: flex;   
    justify-content: center;
    align-items: center;
    margin-top: 70px; 
}
.lado-direito .barra hr{
    width: 470px;
    height: 5px;
    background: rgb(210, 126, 30);
    border: none;    
}
.lado-direito .informatiomm-content{    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -300px;
    padding: 20px;
}
.lado-direito .informatiomm-content .conteiner-principal{
    display: flex;    
}
.lado-direito .informatiomm-content .result{
    margin-top: 7px;
}
.lado-direito .informatiomm-content select{
    width: 300px;
    padding: 5px 30px;
    margin-bottom: 7px;
    outline: none;
    font-size: 15px;
}
.lado-direito .informatiomm-content .result input{
    margin: 10px;
    margin-bottom: 15px;
    padding: 3px 30px;
    outline: none;
    text-align: center;
    font-size: 18px;
}


/*==========================================================================
========================================================================================
============================================================================*/

@media only screen and (max-width: 360px) {
    body{
        width: auto;
    }
    .geral{
        width: auto;
        display: flex;
        flex-direction: column;        
    } 
    .geral-menu .logo{
        margin-left: 130px;
    }

    .head-menu {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .head-menu ul a{
        margin: auto;
        margin-top: 14px;
    }
    .head-menu ul a li{
        margin: auto;
        padding: 5px 20px;
        font-size: 13px;
    }
    footer {
        height: 50px;
        text-align: center;
        font-size: 12px;
        margin-top: 1470px;
        background-color: rgb(14, 39, 43);
        color: lemonchiffon;
        padding-top: 20px;
    }

    .shadow{
        height: 500px;
        margin-top: 400px;
        padding-right: 12px;
    }
    .shadow .paragrafo{
        width: 320px;
    }
.generetion .geral-menu{
    width: 360px;
    height: 250px;
    display: flex;
    position: absolute;
    z-index: 1;
    top: 0px;
    justify-content: space-between;
    overflow: hidden;
}
.generetion .geral-menu .logo img{
    width: 150px;
    margin-left: 10px;
}
.generetion .geral-menu .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -260px;
    margin-top: 170px;
}
.generetion h2{
    width: 100%;
    background: #04c8e2;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px #000000;
    font-size: 50px;
    margin: 0px;
    text-align: center;
    opacity: .7;
}
.head-menu .home {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #0baeee;
    margin-left: 40px;
}

.home img{
    width: 30px;
    height: 30px;
}
.lado-direito .informatiomm-content .conteiner-principal { 
    margin-left: 13px;
    display: block;
}
.shadow p{
    width: 330px;    
}
.lado-direito .informatiomm-content {   
    flex-direction: column;
    margin-top: -260px;
    margin-left: -15px;
}
footer{
    margin-top: 1900px;
}
.shadow .barra hr{
    width: 100px;
}


}


footer{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 12px;
    
    background-color: rgb(14, 39, 43);
    color: lemonchiffon;
    padding-top: 20px;
}
footer p{
    margin: 0px;
}
.generetion{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-image: url(./image/banner-informatica.jpg);
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.geral-menu{
    width: 1140px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.geral-menu .logo img{
    width: 150px;
    margin-left: 10px;
}
.geral-menu .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 360px;
    padding-bottom: 50px;
}
.generetion h2{
    width: 100%;
    background: #04c8e2;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px #000000;
    font-size: 50px;
    margin: 0px;
    text-align: center;
    opacity: .7;
}



.head-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a22ea7;
}
.head-menu a{
    margin-right: 40px;
}
.head-menu ul{
    width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 20px 0px; 
}
.head-menu ul li{
    background: rgb(19, 140, 145);
    color: rgb(255, 255, 255);
    list-style: none;
    margin: 0px 10px;
    padding: 5px 50px;
    border-radius: 7px;
}
.head-menu ul li:hover{
    background: rgb(57, 211, 216);
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.head-menu .homee{
    width: 70px;
    height: 70px;  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;  
    background-color: #0baeee;
}